<div id="wrapper" ng-class="vm.toggle ? 'toggled' : ''">
    <sidebar></sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/220px-Hamburger_icon.svg.png" height="50px" width="50px"></button>
                    <h1>{{vm.content}}</h1>
                        <p class="bg-info" ng-bind="vm.selectedCity.city"></p>
                        <div w-type="event-discovery" 
                        w-tmapikey="Mv7NCYbJ8sByB1QdoDCulutzK64yBJA1"
                        w-googleapikey="AIzaSyBQrJ5ECXDaXVlICIdUBOe8impKIGHDzdA" 
                        w-keyword="music" 
                        w-theme="listview" 
                        w-colorscheme="light" 
                        w-width="300"
                        w-height="600" 
                        w-size="25"
                        w-border="2" 
                        w-borderradius="4" 
                        w-postalcode="" 
                        w-radius="" 
                        w-country="" 
                        w-period="day" 
                        w-layout="vertical" 
                        w-attractionid="" 
                        w-promoterid="" 
                        w-venueid="" 
                        w-affiliateid="" 
                        w-segmentid="" 
                        w-proportion="xxl" 
                        w-city="Dallas"></div>
                        <event-info info="vm.eventDetails"></event-info>
                        
                    <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle" ng-click="toggleMenu">Toggle Menu</a>-->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>