<div id="wrapper" ng-class="vm.toggle ? 'toggled' : ''">

    <sidebar></sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/220px-Hamburger_icon.svg.png" height="50px" width="50px"></button>
                    <h1>{{vm.content}}</h1>
                        <form novalidate>
                            <div class="form-group">
                                <label for="selectCity">City</label>
                                <select id="selectCity" 
                                        class="form-control" 
                                        ng-model="vm.selectedCity" 
                                        ng-options="loc.city for loc in vm.locations"></select>
                                <p ng-bind="vm.selectedCity.city"></p>
                            </div>
                                                        
                        </form>
                    
                    <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle" ng-click="toggleMenu">Toggle Menu</a>-->
                    
                    <button type="button" 
                            class="btn btn-default" 
                            id="clear-selected-data" 
                            ng-click="vm.clearSelectedData()">Clear Selected</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>