<div id="wrapper" ng-class="vm.toggle ? 'toggled' : ''">

    <sidebar></sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
                <div class="fullscreen-bg">
                    <video loop muted autoplay class="fullscreen-bg__video">
                        
                        <source src="../images/background.mp4" poster="poster.png" type="video/mp4">
                        
                    </video>
                </div>
                
                
            
            <div class="row">
                <div class="col-lg-12">
                    <img class="logo-centered" src="../images/web_logo.png" widhth="150px" height="150px">
                    <button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/220px-Hamburger_icon.svg.png" height="25px" width="25px"></button>
                    
                        <div class="center">
                            <form novalidate class="form-inline">
                                <div class="form-group">
                                    
                                    
                                    <select id="selectCity" 
                                            class="form-control2"
                                            ng-model="vm.selectedCity" 
                                            ng-options="loc.city for loc in vm.locations"
                                            value="Select Your City">
                                            <option value="" disabled selected>Pick Your City</option>
                                    </select>
                                        
                                </div>
                                  
                                <a class="btn btn-success btn-lg" href="/details">Let's Rock</a> 
                                                            
                            </form>
                        </div>    
                        
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>